<div class="body">
    <div class="login-container">
      <div class="login-header">Login</div>
      <form>
        <div class="form-group" >
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Enter your username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password">
        </div>
        <div class="forgot-password">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="group">
            <button type="submit" class="btn btn-success" (click)="Checklogin()">Submit</button>
            <button type="button" class="btn btn-danger">Close</button>
        </div>
      </form>
    </div>
</div>